<app-contribution *ngFor="let contribution of story.contributions; last as isLast"
    [contribution]="contribution"
    [isLastContribution]="isLast"
    (branchChange)="handleBranchChange($event)"
    (addBranch)="handleAddBranch($event)">
</app-contribution>
<app-add-contribution *ngIf="lastContribution"
    [lastContribution]="lastContribution"
    (newContribution)="onNewContribution($event)">
</app-add-contribution>
