<h5 mat-dialog-title>View and Select Branches</h5>
<div mat-dialog-content>
    <div>
    <ngb-carousel #carousel *ngIf="data.contribution" (slide)="onSlide($event)">
        <ng-template ngbSlide [id]="'initial'">
            <div class="content-wrapper">
                <p>{{data.contribution.content}}</p>
            </div>
        </ng-template>
        <ng-template ngbSlide
            *ngFor="let branch of data.contribution.associatedBranches; let i = index" [id]="i">
            <div class="content-wrapper">
                <p>{{branch.contributions[0].content}}</p>
            </div>      
        </ng-template>
    </ngb-carousel>
    </div>
</div>
<div class="button-wrapper" mat-dialog-actions>
    <button class="cancel-btn" mat-stroked-button color="warn" (click)="close()">Cancel</button>
    <button class="submit-btn" mat-flat-button color="accent" 
        [disabled]="isInitial" (click)="selectBranch()">Select Branch</button>
</div>