<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <mat-card *ngFor="let contribution of branch.contributions" class="mt-10">
    <mat-card-content >
      <p>{{contribution.contents}}</p>
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions class="mt-10">
    <button mat-raised-button color="primary" class="mr-5" (click)="navToBranch()">Go</button>
    <button mat-raised-button (click)="close()">Close</button>
</div>


