<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p *ngIf="error">
        {{ error }}
      </p>

      <div class="button">
        <button class="mat-raised-button mat-primary" [disabled]="!loginForm.valid">Login</button>
        <a class="btn btn-link" (click)="navToRegister()">Register</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
