<mat-action-list>
  <h3 mat-subheader>SAGAS</h3>

  <mat-nav-list >
    <mat-list-item *ngFor="let saga of sagas" (click)="onSelectSaga(saga)">
      <h4 mat-line mat-list-item> {{ saga.title }} </h4>
      <p mat-line>{{saga.createdAt | date}}</p>
    </mat-list-item>
  </mat-nav-list>
</mat-action-list>

<button mat-fab color="accent" (click)="newStoryDialog()">
    <mat-icon class="md-36">add</mat-icon>
</button>
