<h5 mat-dialog-title>Add New Branch</h5>
<div mat-dialog-content [formGroup]="addBranchForm">
    <mat-form-field appearance="outline">
        <textarea matInput
            formControlName="contribution"
            cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            placeholder="Enter your contribution"></textarea>
    </mat-form-field>
</div>
<div class="button-wrapper" mat-dialog-actions>
    <button class="cancel-btn" mat-stroked-button color="warn" (click)="close()">Cancel</button>
    <button class="submit-btn" mat-flat-button color="accent" 
        [disabled]="!addBranchForm.valid" (click)="addBranch()">Add Branch</button>
</div>