:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}
.mat-card {
  align-self: center;
  width: 80%;
}
.add-branch-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}