<mat-card *ngIf="contribution">
    <mat-card-header>
        <div mat-card-avatar *ngIf="contribution.associatedBranches?.length > 0">
            <button mat-button aria-label="View Branch Info">
                <mat-icon area-hidden="false" (click)="openDialog()">call_split</mat-icon>
            </button>
        </div>
        <div class="add-branch-wrapper">
            <button mat-button *ngIf="contribution.parentId != null" class="add-branch-btn" aria-label="Add a Branch">
                <mat-icon area-hidden="false" (click)="openAddBranchDialog()">add_circle_outline</mat-icon>
            </button>                    
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>{{contribution.content}}</p>
    </mat-card-content>
</mat-card>