<form 
    [formGroup]="contributionForm"
    #formDirective="ngForm"
    class="add-contribution-form"
    (ngSubmit)="onAddContribution(formDirective)">
    <div class="form-container">
        <mat-form-field appearance="outline">
                <textarea matInput
                    formControlName="contribution"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    placeholder="Enter your contribution"></textarea>
        </mat-form-field>
        <button mat-flat-button
            type="submit" 
            color="accent"
            [disabled]="!contributionForm.valid">Add Contribution</button>           
    </div>
</form>
