<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Display Name" formControlName="displayName">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Confirm Email" formControlName="emailConfirm">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm Password" formControlName="passwordConfirm">
        </mat-form-field>
      </p>

      <p *ngIf="error">
        {{ error }}
      </p>

      <div class="button">
        <button class="mat-raised-button mat-primary" [disabled]="!registerForm.valid">Register</button>
        <a class="btn btn-link" (click)="navToLogin()">Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
