<h1 mat-dialog-title>New Saga</h1>
<div mat-dialog-content>
    <mat-form-field [formGroup]="createSagaForm" class="fullWidth">
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field [formGroup]="createSagaForm" class="fullWidth">
        <textarea matInput placeholder="Contribution" formControlName="contribution" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button class="mat-raised-button mat-primary mr-5" [disabled]="!createSagaForm.valid" (click)="createSaga()">Create</button>
    <button class="mat-raised-button" (click)="cancel()">Cancel</button>
</div>
